<%- include('../partials/header') %>

<div class="grid-container grid-container--2col grid-container--footer grid-container--no-padd" style="">
    <div class="grid-col grid-col--menu">
        <div class="menu-aside-container" data-scrollable>
            <ul class="menu-aside">
                <li class="<%- locals.eventMenu ? (eventMenu == 'main') ? 'is-active' : '' : '' %>"> <!--is-active-->
                    <a href="<%- baseUrl %>/" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-view-dashboard"></i>
                        <span>Geral</span>
                    </a>
                </li>
                <li class="<%- locals.eventMenu ? (eventMenu == 'enrolleds') ? 'is-active' : '' : '' %>">
                    <a href="<%- baseUrl %>/enrolleds" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-accounts-list"></i>
                        <span>Inscritos</span>
                    </a>
                </li>
                <li class="<%- locals.eventMenu ? (eventMenu == 'lectures') ? 'is-active' : '' : '' %>">
                    <a href="<%- baseUrl %>/lectures" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-comment-alt-text"></i>
                        <span>Palestras</span>
                    </a>
                </li>
                <li class="<%- locals.eventMenu ? (eventMenu == 'workshops') ? 'is-active' : '' : '' %>">
                    <a href="<%- baseUrl %>/workshops" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-gamepad"></i>
                        <span>Oficinas</span>
                    </a>
                </li>
                <li class="<%- locals.eventMenu ? (eventMenu == 'hackathon') ? 'is-active' : '' : '' %>">
                    <a href="<%- baseUrl %>/hackathon" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-code"></i>
                        <span>Hackathon</span>
                    </a>
                </li>
                <li class="display-none">
                    <a href="<%- baseUrl %>/subevents" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-coffee"></i>
                        <span>Subeventos</span>
                    </a>
                </li>
                <li class="display-none has-submenu">
                    <a class="mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                        <i class="zmdi zmdi-coffee"></i>
                        <span>Subeventos</span>
                        <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating"
                                style="width: 687.215px; height: 687.215px; transform: translate(-50%, -50%) translate(145px, 29px);"></span></span></a>
                    <ul class="menu-aside__submenu">
                        <li>
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"
                                data-upgraded=",MaterialButton,MaterialRipple">
                                <span>Submenu element #1</span>
                                <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating"
                                        style="width: 687.215px; height: 687.215px; transform: translate(-50%, -50%) translate(189px, 8px);"></span></span></a>
                        </li>
                        <li>
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"
                                data-upgraded=",MaterialButton,MaterialRipple">
                                <span>Submenu element #2</span>
                                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                        </li>
                        <li>
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"
                                data-upgraded=",MaterialButton,MaterialRipple">
                                <span>Submenu element #3</span>
                                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                        </li>
                        <li>
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"
                                data-upgraded=",MaterialButton,MaterialRipple">
                                <span>Submenu element #4</span>
                                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                        </li>
                        <li>
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"
                                data-upgraded=",MaterialButton,MaterialRipple">
                                <span>Submenu element #5</span>
                                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                        </li>
                    </ul>
                </li>
                <li class="<%- locals.eventMenu ? (eventMenu == 'checkin') ? 'is-active' : '' : '' %>">
                    <a href="<%- baseUrl %>/checkin" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-check-all"></i>
                        <span>Check-in</span>
                    </a>
                </li>
                <li>
                    <a href="<%- baseUrl %>/edit" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-settings"></i>
                        <span>Configurações</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="grid-col grid-col--container  clients-details-gridstack clients-details--vue grid-stack ui-draggable-disabled ui-resizable-disabled">
        <div class="menu-mobile-settings--box">
            <select class="menu-mobile-settings" data-select2--class="menu-aside-settings--blue"
                data-selectar--search="true" name="select" id="select-anchor">
            </select>
        </div>
        