<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- head include -->
    <%- include('_head') %>

    <!-- styles include -->
    <%- include('_styles') %>

</head>

<body>
    <!-- class="main-sidebar--top main-sidebar--ca" -->
    <div id="app-wrapper">
        <!-- main-menu-html--ca -->
        <!-- navbar include -->
        <%- include('navbar') %>

        <div class="app-content page-dashboard dashboard--vu app-content--gridstack">

            <section class="main-head">
                <div class="burgericon">
                    <a class="">
                        <span class="line line-1"></span>
                        <span class="line line-2"></span>
                        <span class="line line-3"></span>
                    </a>
                </div>

                <!-- breadcrumbs -->
                <ul class="breadcrumbs">
                    <li class=""><a href="/">Página Inicial</a></li>


                    <% if(typeof menu == 'undefined') { %>
                    <li>
                        <a <% try{ url = turl; %><%- 'href="' + turl +'"' %><% }catch(e){} %>><%- title %></a>
                    </li>
                                
                    <% } else {  %>
                    <li>
                        <div class="ddown">
                            <div class="ddown__init ddown__init--white">
                                <a>
                                    <%- title %>
                                </a>
                            </div>
                            <div class="ddown__content">
                                <ul class="ddown__menu">
                                    <% menu.forEach(item => { %>
                                        <li>
                                            <a href="<%- item.url %>" class="mdl-js-button mdl-js-ripple-effect">
                                                <i class="zmdi zmdi-<%- item.icon || 'plus-circle' %>"></i><span><%- item.title %></span>
                                            </a>
                                        </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <% } %>
                </ul>

                

                <!-- client items -->
                <div class="item-grp item-grp--40 mainhead-control-btns">
                    <div class="client-area">
                        
                        
                        <div class="item-grp-single mainhead-btn--user-inf">
                            <div class="ddown ddown--user">
                                <div class="ddown__init ddown__init--clean mdl-js-button mdl-js-ripple-effect">
                                    <div class="avatar avatar--xs" style="background: #000; border-radius:50%; height:100%; color:#fff">
                                        <!-- <img src="/img/avatars/avatar_sample_4.png" alt="Avatar"> -->
                                        <%- locals.user ? user.name.charAt(0).toUpperCase() : 'A' %>
                                    </div>
                                </div>

                                <div class="ddown__content">
                                    <ul class="ddown__menu">
                                        <li class="ddown__header" style="border-bottom: none">
                                            <a class="mdl-js-button mdl-js-ripple-effect">
                                                <div class="flex-block">
                                                    <div class="avatar avatar--xs" style="background: #AAA; border-radius:50%; height:100%; color:#fff">
                                                        <!-- <img src="/img/brand/brand-rsstudio--lg.png" alt="RS Studio"> -->
                                                        <%- locals.user ? user.name.charAt(0).toUpperCase() : 'A' %>
                                                    </div>
                                                    <div class="flex-block__content">
                                                        <span class="flex-block__title"><%- locals.user ? user.name: 'Nome' %></span>
                                                        <span class="flex-block__desc"><%- locals.user ? locals.user.email ? user.email : user.cpf : 'email' %></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="display-none">
                                            <a class="mdl-js-button mdl-js-ripple-effect">
                                                <i class="zmdi zmdi-file-plus"></i> View Profile
                                            </a>
                                        </li>
                                        <li class="display-none">
                                            <a class="mdl-js-button mdl-js-ripple-effect">
                                                <i class="zmdi zmdi-email"></i> Something Else
                                            </a>
                                        </li>
                                        <li class="ddown__footer">
                                            <a href="/logout" class="mdl-js-button mdl-js-ripple-effect">
                                                <i class="zmdi zmdi-sign-in"></i> Sair
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!-- <div id="dashboard-container"> -->
                <section class="main-content no-padding" v-cloakZ>