<%- include('../../header') %>
<div class="grid-stack-item" data-gs-no-move="1" data-gs-no-resize="1" data-gs-x="0" data-gs-y="0" data-gs-width="24"
    data-gs-height="19" data-gs-min-width="13" data-gs-min-height="18" data-gs-auto-position="0">
    <div class="grid-stack-item-content">
        <div class="card card--pagination card--tabs no-padding" data-preload>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                <div class="mdl-tabs__tab-bar">
                    <div class="swiper-container swiper-mdl-tabs tab-bar--tape">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide is-active">
                                <a href="#add-panel" class="mdl-tabs__tab">Nova Inscrição</a>
                            </div>
                        </div>
                        <div class="swiper-mdl-tabs-next"></div>
                        <div class="swiper-mdl-tabs-prev"></div>
                    </div>
                </div>

                <div class="mdl-tabs__panel is-active" id="add-panel">
                    <!-- TAB 2 -->

                    <section class="generals-form" style="width:100%">
                        <form action="./enrolleds" method="POST">
                            <div class="col-group">


                                <fieldset name="inputs" class="col-mb-24 col-12">
                                    <a name="AntaresInputs" id="AntaresInputs">
                                        <legend>Dados Gerais</legend>
                                    </a>

                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-mb-8 col-6">
                                                <label class="form-block__name">Nome</label>
                                            </div>
                                            <div class="col-mb-16 col-18">
                                                <div class="input-field">
                                                    <input type="text" placeholder="Nome do inscrito" name="name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-mb-8 col-6">
                                                <label class="form-block__name">CPF</label>
                                            </div>
                                            <div class="col-mb-16 col-18">
                                                <div class="input-field">
                                                    <input type="text" placeholder="CPF do inscrito" name="cpf">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-mb-8 col-6">
                                                <label class="form-block__name">Email</label>
                                            </div>
                                            <div class="col-mb-16 col-18">
                                                <div class="input-field">
                                                    <input type="text" placeholder="Email do inscrito" name="email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-block">
                                        <div class="col-group">

                                            <div class="col-mb-8 col-6">
                                                <label class="form-block__name">Data de nascimento</label>
                                            </div>
                                            <div class="col-mb-16 col-18">
                                                <div class="input-field datepicker-icon">
                                                    <input data-datepicker="true" name="birthdate"
                                                        placeholder="Data de nascimento" type="datetime"
                                                        value="<%- locals.forms ? form.birthdate : '' %>" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-block">

                                        <div class="col-group">
                                            <div class="col-mb-8 col-6">
                                                <label class="form-block__name">Instituição</label>
                                            </div>
                                            <div class="col-mb-16 col-18">
                                                <div class="input-field ">
                                                    <select data-selectar--search name="institution"
                                                        data-placeholder="Selecione a instituição" required>                                                        
                                                        <option value="">---</option>
                                                        <option value="ifsul-bage">Ifsul campus bagé</option>
                                                        <option value="urcamp">Urcamp campus bagé</option>
                                                        <option value="unipampa">Unipampa campus bagé</option>
                                                        <option value="estacio">Estácio</option>
                                                        <option value="ifsul-pelotas">Ifsul campus pelotas</option>
                                                        <option value="outra">Outra</option>

                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-block">

                                        <div class="col-group">
                                            <div class="col-mb-8 col-6">
                                                <label class="form-block__name">Usuário</label>
                                            </div>
                                            <div class="col-mb-16 col-18">
                                                <div class="input-field ">
                                                    <select data-selectar--search="true" name="user"
                                                        data-placeholder="Selecione o usuario" required>
                                                        <% try { 
                                                            users.forEach(u => { %>

                                                        <option value="<%- u._id %>">
                                                            <%- u.name%>
                                                        </option>
                                                        <%  })
                                                        } catch(e) {} %>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </fieldset>

                            </div>
                            <div class="app-content__footer">
                                <div class="btn-group">
                                    <button
                                        class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect"
                                        type="submit">Salvar</button>
                                    <a
                                        class="display-none btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">Cancelar</a>
                                </div>
                            </div>
                        </form>

                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../footer') %>