<%- include('../partials/header') %>

<div class="grid-container grid-container--1col grid-container--footer grid-container--no-padd">
    <div class="grid-col grid-col--container">
        <section class="generals-form gen-settings--full" data-preload="" style="opacity: 1;">

            <form method="POST" action="./<%- obj.id %>" accept-charset="UTF-8" class="form--hor">
                <input name="id" type="hidden" value="<%- obj.id %>">

                <fieldset name="inputs" class="col-mb-24 col-12">
                    <legend>Detalhes do usuário</legend>
                    <div class="form-block " role="">

                        <% try { 
                            if(msg) { %>
                        <div class="col-group">
                            <div class="col">
                                <p class="alert alert alert--glow alert--success alert--lg alert--border mb20">
                                    <%- msg %>
                                </p>
                            </div>
                        </div>
                        <% }} catch(e) { } %>

                        <div class="col-group ">
                            <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                                <label for="email" class="form-block__name">E-mail</label>
                            </div>
                            <div class="col-mb-16 col-18 col-dt-10">
                                <div class="input-field ">
                                    <input class="form-control" name="email" type="text" value="<%- obj.email %>"
                                        id="email">
                                </div>
                                <span id="email_error" class="error nopadding">

                                </span>
                            </div>
                        </div>
                        <div class="col-group ">
                            <div class="col-mb-8 col-6 col-dt-4 col-ld-3 ">
                                <label class="form-block__name">&nbsp;</label>
                            </div>
                            <div class="col-mb-16 col-16 col-dt-16 col-ld-16">
                                <div class="input-field__desc">
                                    E-mail será utilizado para acessar o sistema
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-block " role="">
                        <div class="col-group ">
                            <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                                <label for="name" class="form-block__name">Nome</label>
                            </div>
                            <div class="col-mb-16 col-18 col-dt-10">
                                <div class="input-field ">
                                    <input class="form-control" name="name" type="text" value="<%- obj.name %>"
                                        id="name" required>
                                </div>
                                <span id="name_error" class="error nopadding">

                                </span>
                            </div>
                        </div>
                        <div class="col-group ">
                            <div class="col-mb-8 col-6 col-dt-4 col-ld-3 ">
                                <label class="form-block__name">&nbsp;</label>
                            </div>
                            <div class="col-mb-16 col-16 col-dt-16 col-ld-16">
                                <div class="input-field__desc">
                                    O campo nome é obrigatório
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-block " role="">
                        <div class="col-group ">
                            <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                                <label for="cpf" class="form-block__name">CPF</label>
                            </div>
                            <div class="col-mb-16 col-18 col-dt-10">
                                <div class="input-field ">

                                    <input class="form-control" name="cpf" type="text" value="<%- obj.cpf %>" id="cpf"
                                        minlength="11" maxlength="11" required>
                                </div>
                                <span id="cpf_error" class="error nopadding">

                                </span>
                            </div>
                        </div>
                        <div class="col-group ">
                            <div class="col-mb-8 col-6 col-dt-4 col-ld-3 ">
                                <label class="form-block__name">&nbsp;</label>
                            </div>
                            <div class="col-mb-16 col-16 col-dt-16 col-ld-16">
                                <div class="input-field__desc">
                                    O campo CPF é obrigatório.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-block">
                        <div class="col-group">

                            <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                                <label class="form-block__name">Data de nascimento</label>
                            </div>
                            <div class="col-mb-16 col-18 col-dt-10 col-ld-6">
                                <div class="input-field datepicker-icon">
                                    <input data-datepicker="true" name="birthdate" placeholder="Data de nascimento"
                                        type="datetime" required value="<%- moment(obj.birthdate).format('DD/MM/YYYY') %>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-block " role="">
                        <div class="col-group ">
                            <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                                <label for="password" class="form-block__name">Senha</label>
                            </div>
                            <div class="col-mb-16 col-18 col-dt-10 ">
                                <div class="input-field">
                                    <input class="form-control" value="******" readonly name="password" type="password"
                                        id="password">
                                </div>
                                <span id="password_error" class="error nopadding">

                                </span>
                            </div>
                        </div>
                        <div class="col-group ">
                            <div class="col-mb-8 col-6 col-dt-4 col-ld-3 ">
                                <label class="form-block__name">&nbsp;</label>
                            </div>
                            <div class="col-mb-16 col-16 col-dt-16 col-ld-16">
                                <div class="input-field__desc">
                                    A senha será gerada automaticamente pelo sistema.
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset name="inputs" class="col-mb-24 col-12">
                    <legend>Outras informações</legend>
                    <div class="form-block " role="">
                        <div class="col-group ">
                            <div class="col-mb-8 col-6 col-dt-4">
                                <label for="bio" class="form-block__name">Bio</label>
                            </div>
                            <div class="col-mb-16 col-18 col-dt-10 col-ld-10">
                                <div class="input-field ">
                                    <input class="form-control" name="bio" type="text" value="<%- obj.bio %>" id="bio">
                                </div>
                                <span id="email_error" class="error nopadding">

                                </span>
                            </div>
                        </div>
                        <div class="col-group ">
                            <div class="col-mb-8 col-6 col-dt-4 ">
                                <label class="form-block__name">&nbsp;</label>
                            </div>
                            <div class="col-mb-16 col-16 col-dt-16 col-ld-16">
                                <div class="input-field__desc">
                                    Campo extra
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-block " role="">
                        <div class="col-group ">
                            <!-- col-ld-3 -->
                            <div class="col-mb-8 col-6 col-dt-4">
                                <label for="institution" class="form-block__name">Instituição</label>
                            </div>
                            <!-- col-ld-2 -->
                            <div class="col-mb-16 col-18 col-dt-10">
                                <div class="input-field ">

                                    <select class="select2-accessible" data-selectar="1"
                                        placeholder="selecione uma instituição..." id="institution" name="institution"
                                        tabindex="-1" aria-hidden="true">
                                        <!-- <option value="">---</option> -->
                                        <% institutions.forEach(i => { %>

                                        <option value="<%- i._id %>"><%- i.name %></option>

                                        <% }) %>

                                    </select>
                                </div>
                                <span id="institute_error" class="error col-mb-16 col-18 col-dt-10 col-ld-4 nopadding">

                                </span>
                            </div>
                        </div>
                    </div>
                    <legend>Avatar</legend>
                    <div class="col-group">
                        <div class="col-14">
                            <div class="form-block">
                                <div class="input-field mb8">
                                    <div class="dropzone dropzone-form brand-logo">
                                        <div class="dz-message" data-dz-message>
                                            <div class="dz-m__current">
                                                <img src="img/theme/antares/logo/logo_tear.svg" alt="">
                                            </div>
                                            <div class="dz-m__header">
                                                <i class="zmdi zmdi-wallpaper"></i>
                                            </div>
                                            <div class="dz-m__content">
                                                <span>Drag
                                                    &
                                                    drop,
                                                </span>
                                                <span>or
                                                    click
                                                    to
                                                    upload
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="form-block__name p0 mt8">
                                    <span>Logo</span>
                                    <i class="zmdi zmdi-help-outline help--trigger" data-tooltip="true"></i>
                                    <div class="tooltip-content">
                                        <p>Logo
                                            used
                                            in
                                            the
                                            invoices,
                                            as
                                            well
                                            as
                                            in
                                            the
                                            login
                                            page.
                                        </p>
                                        <p class="tooltip__header mt16">Recommended
                                            format:
                                        </p>
                                        <p>PNG
                                            (without
                                            background)
                                        </p>
                                        <p class="tooltip__header mt16">Recommended
                                            minimum
                                            width:
                                        </p>
                                        <p>512
                                            px
                                        </p>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="app-content__footer">
                    <div class="btn-group">
                        <a href="/users" class="btn btn--md btn--default mdl-button mdl-js-button"
                            data-upgraded=",MaterialButton">Voltar</a>

                        <button class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="submit" data-upgraded=",MaterialButton,MaterialRipple">Salvar<span
                                class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>

                    </div>
                </div>
            </form>

        </section>
    </div>
</div>

<%- include('../partials/footer') %>