<%- include('../../header') %>
<div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="10" data-gs-y="0" data-gs-width="12"
    data-gs-height="10" data-gs-min-width="11" data-gs-min-height="10">
    <div class="grid-stack-item-content">
        <div class="card card--chart card--scrollbox" data-chart="true" data-preload>
            <div class="card__left">
                <div class="card__header">
                    <div class="card__header-left">
                        <span>Presenças</span>
                    </div>
                </div>
                <div class="card__content card__content--chart">
                    <div class="chart" id="chart--two">
                        <canvas id="two-bar" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="card__right">
                <header>
                    <span class="card__title">Total de inscritos</span>
                    <span class="card__ammount">
                        <strong><%= event.enrolleds.length %></strong>
                    </span>

                </header>
                <ul data-scrollable class="datarow mobile-toogle--target">
                    <% stats.byDay.forEach((e, idx) => { %>
                    <!--SINGLE-->
                    <li class="datarow__sgl datarow__sgl--down">
                        <div class="datarow__left">
                            <span class="datarow__status">Presentes dia <%= idx+1 %></span>
                        </div>
                        <div class="datarow__right">
                            <span class="datarow__data">
                                <strong><%= e.reduce((acc, e) => acc += e, 0) %></strong>
                            </span>
                        </div>
                    </li>
                    <% }) %>

                </ul>
                <div class="mobile-toogle--box">
                    <div class="card__mobile-toggle mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="12" data-gs-y="0" data-gs-width="12"
    data-gs-height="10" data-gs-min-width="11" data-gs-min-height="10">
    <div class="grid-stack-item-content">
        <div class="card card--chart card--scrollbox" data-chart="true" data-preload>
            <div class="card__left">
                <div class="card__header">
                    <div class="card__header-left">
                        <span>Palestras</span>
                    </div>
                </div>
                <div class="card__content card__content--chart">
                    <div class="chart" id="chart--two">
                        <canvas id="lectures" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="card__right">
                <header>
                    <span class="card__title">Total de palestras</span>
                    <span class="card__ammount">
                        <strong><%= stats.lectures.total %></strong>
                    </span>

                </header>
                <ul data-scrollable class="datarow mobile-toogle--target">
                    
                    <!--SINGLE-->
                    <li class="datarow__sgl datarow__sgl--down">
                        <div class="datarow__left">
                            <span class="datarow__status">Confirmadas </span>
                        </div>
                        <div class="datarow__right">
                            <span class="datarow__data">
                                <strong><%= stats.lectures.confirmed %></strong>
                            </span>
                        </div>
                    </li>

                    <!--SINGLE-->
                    <li class="datarow__sgl datarow__sgl--down">
                        <div class="datarow__left">
                            <span class="datarow__status">Não confirmadas </span>
                        </div>
                        <div class="datarow__right">
                            <span class="datarow__data">
                                <strong><%= stats.lectures.notConfirmed %></strong>
                            </span>
                        </div>
                    </li>

                </ul>
                <div class="mobile-toogle--box">
                    <div class="card__mobile-toggle mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="12" data-gs-y="0" data-gs-width="12"
    data-gs-height="10" data-gs-min-width="11" data-gs-min-height="10">
    <div class="grid-stack-item-content">
        <div class="card card--chart card--scrollbox" data-chart="true" data-preload>
            <div class="card__left">
                <div class="card__header">
                    <div class="card__header-left">
                        <span>Oficinas</span>
                    </div>
                </div>
                <div class="card__content card__content--chart">
                    <div class="chart" id="chart--two">
                        <canvas id="workshops" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="card__right">
                <header>
                    <span class="card__title">Total de oficinas</span>
                    <span class="card__ammount">
                        <strong><%= stats.workshops.total %></strong>
                    </span>

                </header>
                <ul data-scrollable class="datarow mobile-toogle--target">
                    
                    <!--SINGLE-->
                    <li class="datarow__sgl datarow__sgl--down">
                        <div class="datarow__left">
                            <span class="datarow__status">Confirmadas </span>
                        </div>
                        <div class="datarow__right">
                            <span class="datarow__data">
                                <strong><%= stats.workshops.confirmed %></strong>
                            </span>
                        </div>
                    </li>

                    <!--SINGLE-->
                    <li class="datarow__sgl datarow__sgl--down">
                        <div class="datarow__left">
                            <span class="datarow__status">Não confirmadas </span>
                        </div>
                        <div class="datarow__right">
                            <span class="datarow__data">
                                <strong><%= stats.workshops.notConfirmed %></strong>
                            </span>
                        </div>
                    </li>

                </ul>
                <div class="mobile-toogle--box">
                    <div class="card__mobile-toggle mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="12" data-gs-y="12" data-gs-width="12"
    data-gs-height="10" data-gs-min-width="11" data-gs-min-height="10">
    <div class="grid-stack-item-content">
        <div class="card card--chart card--scrollbox" data-chart="true" data-preload>
            <div class="card__left">
                <div class="card__header">
                    <div class="card__header-left">
                        <span>Instituições</span>
                    </div>
                </div>
                <div class="card__content card__content--chart">
                    <div class="chart" id="chart--two">
                        <canvas id="institutions" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="card__right">
                <header>
                    <span class="card__title">Total de inscritos</span>
                    <span class="card__ammount">
                        <strong><%= event.enrolleds.length %></strong>
                    </span>

                </header>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/app_cache.js?a13c6ebafdb81e7f8fdf"></script>
<script>
    (function (c, f, d, e, g, j, k, h, i) {
        for (var m = [], p = [], q = [], t = 0; t < f; t++) {
            m.push("Dia " + (t + 1))
        }

        p = <%= JSON.stringify(stats.byDay.map(e => e[0])) %>;
        q = <%= JSON.stringify(stats.byDay.map(e => e[1])) %>;
        r = <%= JSON.stringify(stats.byDay.map(e => e[2])) %>;
        

        var l = document.getElementById(c).getContext("2d");
        new Chart(l, {
            type: "bar",
            data: {
                labels: m,
                datasets: [
                    { backgroundColor: e, hoverBackgroundColor: g, data: p, label: 'Manhã' },
                    { backgroundColor: j, hoverBackgroundColor: k, data: q, label: 'Tarde' },
                    { backgroundColor: h, hoverBackgroundColor: i, data: r, label: 'Noite' },
                ]
            },
            options: {
                responsive: !0,
                maintainAspectRatio: !1,
                legend: !1,
                scales: {
                    yAxes: [{ display: !0, barPercentage: 1, stacked: true }],
                    xAxes: [{ display: true, barPercentage: 1, stacked: true }]
                }
            }
        })
    })("two-bar", 3, [], "#ffa726", "#ef9c23", "#e1e3e6", "#d4d6d8", "#26A2FF","#47affd"),

(function (c, e, g, j, k) {
    m = ['Confirmadas', 'Pendentes']

    p = <%= JSON.stringify([stats.lectures.confirmed, stats.lectures.notConfirmed]) %>;

    var l = document.getElementById(c).getContext("2d");
    new Chart(l, {
        type: "bar",
        data: {
            labels: m,
            datasets: [
                { backgroundColor: e, hoverBackgroundColor: g, data: p}
            ]
        },
        options: {
            responsive: !0,
            maintainAspectRatio: !1,
            legend: !1,
            scales: {
                yAxes: [{ display: true }],
                xAxes: [{ display: true }]
            }
        }
    })
})("lectures", "#ffa726", "#ef9c23", "#e1e3e6", "#d4d6d8"),

(function (c, e, g, j, k) {
    m = ['Confirmadas', 'Pendentes']

    p = <%= JSON.stringify([stats.workshops.confirmed, stats.workshops.notConfirmed]) %>;

    var l = document.getElementById(c).getContext("2d");
    new Chart(l, {
        type: "bar",
        data: {
            labels: m,
            datasets: [
                { backgroundColor: e, hoverBackgroundColor: g, data: p}
            ]
        },
        options: {
            responsive: !0,
            maintainAspectRatio: !1,
            legend: !1,
            scales: {
                yAxes: [{ display: true }],
                xAxes: [{ display: true }]
            }
        }
    })
})("workshops", "#ffa726", "#ef9c23", "#e1e3e6", "#d4d6d8"),

(function (c, e, g, j, k) {
    m = <%- JSON.stringify(stats.institutions.labels) %>;

    p = <%- JSON.stringify(stats.institutions.data) %>;

    var l = document.getElementById(c).getContext("2d");
    new Chart(l, {
        type: "bar",
        data: {
            labels: m,
            datasets: [
                { backgroundColor: e, hoverBackgroundColor: g, data: p, label: 'Inscritos'}
            ]
        },
        options: {
            responsive: !0,
            maintainAspectRatio: !1,
            legend: !1,
            scales: {
                yAxes: [{ display: true }],
                xAxes: [{ display: true }]
            }
        }
    })
})("institutions", "#ffa726", "#ef9c23", "#e1e3e6", "#d4d6d8")
</script>
<%- include('../../footer') %>