<%- include('../../header') %>
<div class="grid-stack-item" data-gs-no-move="1" data-gs-no-resize="1" data-gs-x="0" data-gs-y="0" data-gs-width="24"
    data-gs-height="19" data-gs-min-width="13" data-gs-min-height="18" data-gs-auto-position="0">
    <div class="grid-stack-item-content">
        <div class="card card--pagination card--tabs card--unadjustabl no-padding" data-preload>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                <div class="mdl-tabs__tab-bar">
                    <div class="swiper-container swiper-mdl-tabs tab-bar--tape">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <a href="#teams-panel"
                                    class="mdl-tabs__tab is-active">Lista de Times</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="../hackathon/add" onclick="window.location='./hackathon/add'"
                                    class="mdl-tabs__tab">Novo time</a>
                            </div>
                        </div>
                        <div class="swiper-mdl-tabs-next"></div>
                        <div class="swiper-mdl-tabs-prev"></div>
                    </div>
                </div>

                <div class="mdl-tabs__panel is-active" id="teams-panel">

                    <!-- TAB 1 -->
                    <div class="tbl-c ">
                        <div
                            class="card-ctrls tab-search tab-search--filter swiper--no-slides with-mass-actions-containe">
                            <div class="card-ctrls__left">
                                <select class="mb24 select2-left select--category" name="select"
                                    data-selectAR--mdl-big="true" data-prefix="Show: "
                                    data-select2--class="card-ctrls--select2">
                                    <option value="" selected>Todos</option>
                                    <!-- <option value="" selected>Second very big select for testing fucking dropdown card-ctrls</option> -->
                                </select>
                                <div class="search-box search-box--dark">
                                    <i class="zmdi zmdi-search"></i>
                                    <form action="">
                                        <div class="search-box__mdl-textfield mdl-textfield mdl-js-textfield ">
                                            <input class="mdl-textfield__input search-box__search-field" type="text"
                                                id="tableSearch" autocomplete="off">
                                            <label class="mdl-textfield__label" for="tableSearch">Buscar</label>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card-ctrls__right">
                                <div class="filters">
                                    <div class="swiper-filters--box swiper-filters--no-active">
                                        <div class="swiper-container swiper-filters">
                                            <!-- Additional required wrapper -->
                                            <div class="swiper-wrapper card-filters--swiper">

                                            </div>
                                        </div>
                                        <div class="swiper-filters-next"></div>
                                        <div class="swiper-filters-prev"></div>
                                        <div class="swiper-filters-next swiper-filters-next--gradient"></div>
                                        <div class="swiper-filters-prev swiper-filters-prev--gradient"></div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <table data-table-init="true" class="antares-table" data-table-idx-select="4" cellspacing="0"
                            width="100%">
                            <colgroup>
                                <col style="width: 4%;">
                                <col style="width: 4%;">
                                <col style="width: 10%;">
                                <col style="width: 4%;">
                                <col style="width: 4%;">
                                <col style="width: 8%;">
                                <col style="width: 19%;">
                                <col style="width: 10%;">
                                <col style="width: 4%;">
                                <col style="width: 0%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="no-sort">#</th>
                                    <th class="no-sort">Nome</th>
                                    <th class="no-sort">Participantes</th>
                                    <!-- <th class="no-sort">Inscritos / Limite</th>
                                    <th class="no-sort desktop">Data</th>
                                    <th class="no-sort desktop">Status</th>
                                    <th class="no-sort tabletV tabletH laptop desktop">Local</th> -->
                                    <th class="no-sort"></th>
                                    <th class="no-sort is-hidden"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% try{
                                        list.forEach(p => { %>
                                <tr>
                                    <td><%- p._id %></td>
                                    <td class="name"><%- p.name %></td>
                                    <td><%- p.members.map(e => e.name) %></td>
                                    <td class="dt-actions desktop"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="<%- fullUrl %>/<%- p._id %>/delete" class="triggerable confirm"
                                                    data-icon="delete" data-text="Remover">remove</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <%      });
                                    } catch(e) { } %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Participantes</th>
                                    <!-- <th>Inscritos / Limite</th>
                                    <th>Data</th>
                                    <th>Confirmada</th>
                                    <th>Local</th> -->
                                    <th class="desktop"></th>
                                    <th class="is-hidden"></th>
                                </tr>
                            </tfoot>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../footer') %>